body{
    background-color: black;
    margin: 0 ;
}
.bgColor{
    background-color:aqua !important;
    
    margin-top:  150px;
    padding: 150px;
    
}
.right {
    float: left;
    background: cyan;
  }